
body{
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*{
    margin: 0 0 0 0;
}

.element {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}

.element::-webkit-scrollbar { 
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

#h3 {
    font-family: Bahnschrift;
    font-size: 40px;
    color: rgb(240, 240, 240);
    font-weight: initial;
    z-index: 4;
    margin-left: 10px;
    text-align: center;
}
.button1 {
    color: #c0c0c0;;
    font-size: 18px;
    width: 280px;
    text-align: left;
    border-radius: 10px;
    font-weight: normal;
    border: none;
    background: none; 
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer; /* Курсор в виде указателя */
    letter-spacing: 1px;
 }
 
#but1{
    text-shadow: 0px 0px 3px #ffffff;
    color: #ffffff; 
    
}
#but2{
    
    margin-top: 150px;
}


 .button1:hover{
   
    text-shadow: 0px 0px 3px #ffffff;
    color: #ffffff;
 }
 
 .Container1{
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #292929;
    width: 18vw;
    height: 100vh;
    z-index: 10;
    box-shadow: 0px 0px 30px #070707;
    
    
}

#img1 {
    top: auto;
    align-items: center;
    width: 25vh;
    height: 25vh;
    margin-left: 3vw;
    margin-top: 5vh;
}

.Container2{
    align-items: center;
    background-color: #dddddd;
    width: 100%; 
    height: 102vh;
    margin:0;
    box-shadow: 0px 0px 30px #000000;
    
}
.Container0
{
width: 100%;
margin-left: 18vw;
z-index: 8;
height: 100%;


}

#img2 {
    height: 100%;
}

h1{
    font-size: 120px;
    position: absolute;
    margin-top: 40vh;
    margin-left: 20vw;
    align-items: center;
    color: rgb(255, 157, 29);
}

