html {  
    scroll-behavior: smooth;  
}

body{
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 70%;
}

.Container0
{
margin-left: 400px;
z-index: 10;
zoom: 112%;
}

.Container{
    transform: scale(1);
    background-color: #3d3d3d;
    width: 1920px;
    height: 1177px;
    border-radius: 10px;
    margin-top: 10px;
   box-shadow: 0px 0px 30px #000000;

    
}

.Container1{
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #292929;
    width: 400px;
    height: 100%;
    zoom: 110%;
    z-index: 10;
    
    
}

#Container2{
    align-items: center;
    background-color: #e4e4e4;
    width: 1920px;
    height: 1177px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 30px #000000;
    
}

.Container3{
    align-items: center;
    background-color: #e4e4e4;
    width: 1920px;
    height: 1177px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 30px #000000;
}

.Container4{
    align-items: center;
    background-color: #e4e4e4;
    width: 1920px;
    height: 1177px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 30px #000000;
}

#h3 {
    font-family: Bahnschrift;
    font-size: 40px;
    color: rgb(240, 240, 240);
    font-weight: initial;
    z-index: 4;
    margin-left: 10px;
    text-align: center;
}

#img1 {
    top: auto;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-top: 30px;
}

#img2 {
    
    align-items: center;
    border-radius: 10px;
    width: 100%;
    
}
#img3{
    
    border-radius: 0px 10px 10px 0px ;
    height: 1177px;
    margin-left: 340px;
    z-index: 2;

}
#img4{
    
    height: 60%;
    margin-bottom: 150px;
    margin-left: 300px;

}

#img5 {
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#img6{
   
    height: 60%;
    margin-bottom: 150px;
    margin-left: 300px;

}

#img7{
   
    height: 100%;
    margin-left: 100px;

}

#box2{
    background-color: #ffffff;
    position: absolute;
    border-radius:  10px 10px 0px 0px;
    width: 1920px;
    height: 150px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 3;
}

#box3{
    background-color: #ffffff;
    position: absolute;
    border-radius:  10px 10px 0px 0px;
    width: 1920px;
    height: 150px;
    box-shadow: 0px 0px 10px #000000;
    z-index: 3;
}
h2 {
    font-family: Bahnschrift;
    position: absolute;
    font-size: 50px;
    color: rgb(7, 7, 7);
    margin-left: 300px;
    font-weight: initial;
    z-index: 4;
    
}

pre{
    text-align: center;
    margin-top: 500px;
    margin-left: 200px;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    z-index: 4;
    opacity: 80%;
    text-shadow: 0px 0px 10px #000000;
}
#box1 {
    position: absolute;
    border-radius: 10px;
    background-color: #000000;
    width: 1920px;
    height: 1177px;
    opacity: 100%;
    z-index: 2;
    opacity: 50%;
  
}

#h1{
    font-size: 110px;
    position: unset;
    margin-top: 10px;
    position: absolute;
    z-index: 3;
    margin-top: 300px;
    margin-left: 300px;
    text-shadow: 0px 0px 10px #000000;
}



    .button1 {
    color: #c0c0c0;
    font-size: 25px;
    width: 350px;
    height: 50px;
    text-align: left;
    border-radius: 10px;
    font-weight: normal;
    border: none;
    background: none; 
    margin-left: 50px;
    margin-top: 7px;
    cursor: pointer; /* Курсор в виде указателя */
    letter-spacing: 1px;
 }

 .button2 {
    width: 300px;
    letter-spacing: 1px;
    margin-top: 100px;
    color: #c0c0c0;
    font-size: 25px;
    margin-left: 50px;
    text-align: left;
    border-radius: 7px;
    font-weight: normal;
    border: none;
    background: none;
    cursor: pointer; /* Курсор в виде указателя */
    
 }

 .button1:hover{
   
    text-shadow: 0px 0px 3px #ffffff;
    color: #ffffff;
 }
 .button2:hover{
   
    text-shadow: 0px 0px 3px #ffffff;
    color: #ffffff;
 }

 #but6{
     font-weight: normal;
    margin-left: 20px;
    margin-bottom: 10px;
 }

@media (max-width: 700px) {


    button {
        font-size: 10px;
        width: 90px;
        height: 50px;
        position: absolute;
    }

    #but1{
        margin: 50px 25px;
     }
    
     #but2{
        margin: 50px 100px;
     }
     #but3{
        margin: 50px 200px;
     }
     #but4{
        margin: 50px 300px;
     }
     #but5{
        margin: 50px 380px;
     }


     .Container{
        zoom: 30%;
    }
  
    #Container2{
        zoom: 30%;
    }

    
    .Container3{
        zoom: 30%;
    }

   .Container4 {
    zoom: 30%;
   }

   .Container5 {
    zoom: 30%;
   }
   .Container6 {
    zoom: 30%;
   }
   .Container7 {
    zoom: 30%;
   }
   .Container8 {
    zoom: 30%;
   }
   .Container9 {
    zoom: 30%;
   }
   .Container10 {
    zoom: 30%;
   }
   .Container11 {
    zoom: 30%;
   }
   

    #img1{
        width: 100px;
        height: 100px;
        margin-top: 25px ;
    }
}