body {
    background: #262626;
    align-items: center;
}



#but1 {
    width: 260px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 15px; 
    background: rgb(255, 140, 32);  
    position: fixed;
    top: 500px;
    left: 15px;
    font-size: 20px;
    visibility: 70%;
    opacity: 85%;
    font-size: 18px;
    
    
}

#but2 {
    width: 260px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 15px; 
    background: rgb(255, 140, 32);  
    position: fixed;
    top: 600px;
    left: 15px;
    font-size: 20px;
    visibility: 70%;
    opacity: 85%;
    box-shadow: 0 0 0 2px #ffff, 0 0 3 4px #101010;
    font-size: 18px;
      
}

#but3 {
    width: 260px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 15px; 
    background: rgb(255, 140, 32);  
    position: fixed;
    top: 700px;
    left: 15px;
    font-size: 20px;
    visibility: 70%;
    opacity: 85%;
    box-shadow: 0 0 0 2px #ffff, 0 0 3 4px #101010;
    font-size: 18px;
}



button:hover{
    box-shadow: 0 0 0 4px #101010;
    transform: scale(1.01);

}

#box1 {
    padding: 2000px 140px ;
    outline: none;
    border: none;
    background: rgb(24, 24, 24); 
    font-size: 20px;
    opacity: 85%;
    position: absolute;

}
 .party {
    position: fixed;
    top: 10px;
    left: 0px;
    transform: scale(90%);
  
}
p {
    font-family: "arial";
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 65px;
    text-shadow: 1px 1px 2px #101010;
}
.Kapitoliy{

  left: 0;
  right: 0;
}
.Container1{
    top: 4000px;
    left: 50px;   
}
#box2{
    padding: 500px 200px ;
    background-color: #ffff;
    float: right;
}

#programma{

    margin-left: 35%;
    margin-right: 50%;
    margin-top: 100px;
}